<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs', {pageTitle: 'Create' }); %>

    <body>

        <%- include('./partials/header.ejs') %>

            <main class="mainPanel">

                <form action="/products/create" method="POST" class="formPanel" enctype="multipart/form-data"
                    id="formularioCreate">

                    <section class="newProduct">
                        <h2>CREAR PRODUCTO</h2>

                        <div class="containerCreate">
                            <label class="pure-material-textfield-outlined">
                                <input type="text" name="name" id="name" value="<%=oldData.name%>" placeholder=" ">
                                <span>Nombre</span>
                            </label>
                            <div class="errors">
                                <% if(locals.errors && errors.name) { %>
                                    <%= errors.name.msg %>
                                        <% } %>
                            </div>
                            <div id="nameError" class="errors-front">
                            </div>
                        </div>

                        <div class="containerCreate">
                            <label class="pure-material-textfield-outlined">
                                <input type="text" name="description" id="description" value="<%=oldData.description%>"
                                    placeholder=" ">
                                <span>Descripción</span>
                            </label>
                            <div class="errors">
                                <% if(locals.errors && errors.description) { %>
                                    <%= errors.description.msg %>
                                        <% } %>
                            </div>
                            <div id="descriptionError" class="errors-front">
                            </div>
                        </div>

                        <div class="containerCreate">
                            <label class="pure-material-textfield-outlined">
                                <input type="text" name="price" id="price" value="<%=oldData.price%>" placeholder=" ">
                                <span>Precio</span>
                            </label>
                            <div class="errors">
                                <% if(locals.errors && errors.price) { %>
                                    <%= errors.price.msg %>
                                        <% } %>
                            </div>
                        </div>

                        <div>
                            <label class="pure-material-textfield-outlined">
                                <input type="text" name="discount" id="discount" value="<%=oldData.discount%>"
                                    placeholder=" ">
                                <span>Descuento</span>
                            </label>
                            <div class="errors">
                                <% if(locals.errors && errors.discount) { %>
                                    <%= errors.discount.msg %>
                                        <% } %>
                            </div>
                        </div>

                        <div class="containerCreate">
                            <label class="pure-material-textfield-outlined">
                                <input type="file" accept=".jpg, .png, .jpeg" name="image" id="image" placeholder=" ">
                                <span>Imagen</span>
                            </label>
                            <div class="errors">
                                <% if(locals.errors && errors.image) { %>
                                    <%= errors.image.msg %>
                                        <% } %>
                            </div>
                        </div>
                        <br>
                        <div class="containerCreate">
                            <label><h5 class="selectImagen">Estado: </h5></label>
                                <select name="status" id="status">
                                    <option value="A">Regular</option>
                                    <option value="I">Mas Vendidos</option>
                                </select>
                            </label>
                            <div class="errors">
                                <% if(locals.errors && errors.status) { %>
                                    <%= errors.status.msg %>
                                        <% } %>
                            </div>
                        </div>

                        <div class="botonesPanel">
                            <button type='submit' class="pure-material-button-contained">Agregar</button>
                            <button type='reset' class="pure-material-button-contained">Borrar</button>
                        </div>

                    </section>

                </form>

            </main>

            <%- include('./partials/footer.ejs') %>


                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
                    crossorigin="anonymous">
                    </script>
                <script src="/js/ValidateCreateFrontend.js"></script>
    </body>

</html>