<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs', {pageTitle: 'Create' }); %>

    <body>

        <%- include('./partials/header.ejs') %>

            <main class="mainPanel">
                <form action="/products/edit/<%=product.id%>?_method=PUT" method="POST" class="formPanel"
                    enctype="multipart/form-data">
                    <section class="newProduct">
                        <h2>MODIFICAR PRODUCTO</h2>
                        <h2>
                            <%=product.name%>
                        </h2>
                        <p>
                            <label class="formlabel">Nombre:</label>
                        </p>
                        <p>
                            <input type="text" name="name" value="<%=product.name%>" required>
                        </p>
                        <p>
                            <label class="formlabel">Descripcion:</label>
                        </p>
                        <p>
                            <input type="text" name="description" value="<%=product.description%>" required>
                        </p>
                        <p>
                            <label class="formlabel" for="image">Imagen:</label>
                        </p>
                        <p>
                            <input type="file" accept=".jpg, .png, .jpeg" name="image" required>
                        </p>
                        <p>
                            <label class="formlabel">Estado:</label>
                        </p>
                        <p>
                            <input type="text" name="status" value="<%=product.status%>" required>
                        </p>
                        <p>
                            <label class="formlabel">Precio:</label>
                        <p>
                            <input type="text" name="price" value="<%=product.price%>" required>
                        </p>
                        <p>
                            <label class="formlabel">Descuento:</label>
                        <p>
                            <input type="text" name="discount" value="<%=product.discount%>" required>
                        </p>
                        <p class="botonesPanel">
                            <button type="reset" class="botonPanel">BORRAR</button>
                            <button type="submit" class="botonPanel">MODIFICAR</button>
                        </p>
                    </section>
                </form>
                <form action="/products/delete/<%=product.id%>?_method=DELETE" method="POST" class="formPanel">
                    <p class="botonesPanel">
                        <button type="submit" class="botonPanel">ELIMINAR PRODUCTO</button>
                    </p>
                </form>
            </main>

            <%- include('./partials/footer.ejs') %>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
                    crossorigin="anonymous">
                    </script>
    </body>

</html>