<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {pageTitle: 'LIMA' }); %>
    <%- include('./partials/header', {pageTitle: 'LIMA' }); %>

        <body>
            <div class="container rounded bg-white mt-5 mb-5">
                <div class="row">
                    <div class="col-md-3 border-right">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="/images/avatars/<%=user.avatar %>">
                            <span class="font-weight-bold">Hola! <%= user.full_name %>!</span>
                            <span class="text-black-50"><%= user.email %></span>
                        </div>
                    </div>
                    <div class="col-md-5 border-right">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Config Perfil</h4>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12"><label class="labels">Nombre Completo</label><input type="text" class="form-control" placeholder="<%= user.full_name %>" value=""></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12"><label class="labels">Teléfono Celular</label><input type="text" class="form-control" placeholder="<%= user.phone %>" value=""></div>
                                <div class="col-md-12"><label class="labels">Dirección de Entrega</label><input type="text" class="form-control" placeholder="enter address line 1" value=""></div>
                                <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value=""></div>
                                <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="education" value=""></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                                <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                            </div>
                            <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Guardar Cambios</button></div>
                        </div>
                        <label class="perfil"><a href='/users/userDetail'>Ver información de usuario</a></label>
                    </div>
                </div>
            </div>               
                
            <!-- <div class="perfil"> -->
                <!-- <label>Hola! <%= user.full_name %>!</label> -->
                <!-- <img src="/images/avatars/<%=user.avatar %>" width="400"> -->
                <!-- <br> -->
                <!-- <label class="perfil"><%= user.email %></label> -->
                <!-- <label class="perfil"><a href='/users/userDetail'>Ver información de usuario</a></label> -->
            <!-- </div> -->
            
            
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="/js/carro.js"></script>
        </body>
        <%- include('partials/footer') %>

</html>