<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {pageTitle: 'LIMA' }); %>
<%- include('./partials/header', {pageTitle: 'LIMA' }); %>


<body>
    <div class="perfil">HOLA <%= user.nombre %></label>
         <img src="/images/avatars/<%=user.avatar %>">
    <br>
        <label class="perfil"><%= user.email %></label>
    </div>
</body>
<%- include('partials/footer') %>
</html>