<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {pageTitle: 'LIMA' }); %>

    <body>

        <%- include('./partials/header', {pageTitle: 'LIMA' }); %>

            <main class="mainregister">

                <div id="errors"></div>

                    <form action="/users/edit?_method=PUT" method="POST" class="formPanel" enctype="multipart/form-data">

                        <h4 id="h234">MODIFICAR DATOS</h4>
                        
                        <h3 id="h234"><%=user.full_name%></h3>

                        <div class="containerRegister">
                            <label class="pure-material-textfield-outlined">
                                <input type="text" name="full_name" id="full_name" value="<%= locals.oldData ? oldData.full_name : user.full_name %>" placeholder=" ">
                                <span>Nombre y apellido</span>
                            </label>
                            <div class="errors">
                                <% if(locals.errors && errors.full_name) { %>
                                    <%= errors.full_name.msg %>
                                        <% } %>
                            </div>
                        </div>
                        <br>
                        <div class="containerRegister">
                            <label class="pure-material-textfield-outlined">
                                <input type="email" id="email" name="email" value="<%= locals.oldData ? oldData.email : user.email %>" placeholder=" ">
                                <span>E-mail</span>
                            </label>
                            <div class="errors">
                                <% if(locals.errors && errors.email) { %>
                                    <%= errors.email.msg %>
                                        <% } %>
                            </div>
                        </div>
                        <br>
                        <div class="containerRegister">
                            <label class="pure-material-textfield-outlined">
                                <!-- En éste input no hay value, es por alguna razón en especial? -Checho -->
                                <input type="password" id="password" name="password" placeholder=" ">
                                <span>E-mail</span>
                            </label>
                            <div class="errors">
                                <% if(locals.errors && errors.password) { %>
                                    <%= errors.password.msg %>
                                        <% } %>
                            </div>
                        </div>
                        <br>
                        <div class="containerRegister">
                            <label class="pure-material-textfield-outlined">
                                <input type="text" name="phone" value="<%= locals.oldData ? oldData.phone : user.phone %>" placeholder=" ">
                                <span>Celular</span>
                            </label>
                            <div class="errors">
                                <% if(locals.errors && errors.phone) { %>
                                    <%= errors.phone.msg %>
                                        <% } %>
                            </div>
                        </div>
                        <br>
                        <div class="containerRegister">
                            <label>adress_id:</label>
                            <select name="adress_id" id="adress_id">
                                <option value="1">adressId1</option>
                                <option value="2">adressId2</option>
                            </select>
                            <div class="errors">
                                <% if(locals.errors && errors.adress_id) { %>
                                    <%= errors.adress_id.msg %>
                                        <% } %>
                            </div>
                        </div>
                        <div class="containerRegister">
                            <label>user_type_id:</label>
                            <select name="user_type_id" id="user_type_id">
                                <option value="1">userTypeRegular</option>
                                <option value="2">userTypeSuper</option>
                            </select>
                            <div class="errors">
                                <% if(locals.errors && errors.user_type_id) { %>
                                    <%= errors.user_type_id.msg %>
                                        <% } %>
                            </div>
                        </div>
                        <br>
                        <div class="containerRegister">
                            <label class="pure-material-textfield-outlined">
                                <input type="file" id="avatar" placeholder=" " accept=".jpg, .png, .jpeg" name="avatar"
                                value="<%= locals.oldData ? oldData.image : null %>">
                                <span>Imagen</span>
                              </label>
                        <div class="errors">
                            <% if(locals.errors && errors.image) { %>
                                <%= errors.image.msg %>
                                    <% } %>
                        </div>
                        <br>
                        <br>
                        <div class="registerButton">
                            <button type='submit' class="pure-material-button-contained">Enviar</button>
                            <button type='reset' class="pure-material-button-contained">Borrar</button>
                        </div>

                    </form>

            </main>

            <%- include('partials/footer') %>

    </body>

</html>